html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: red !important;
}

body * {
  background: red !important;
  color: white !important;
}
