body {
  margin: 0;
  font-family: Arial;
  background: #050b18;
  color: white;
}

.container {
  padding: 20px;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #2563eb;
  color: white;
  font-size: 16px;
}

.storyItem {
  background: rgba(255,255,255,0.07);
  padding: 10px;
  border-radius: 12px;
  margin-top: 10px;
}

/* CHAT */

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topBar {
  padding: 10px;
  background: rgba(255,255,255,0.05);
  display: flex;
  align-items: center;
  gap: 10px;
}

.chatBox {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
}

.msg {
  max-width: 75%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 15px;
  word-wrap: break-word;
}

.user {
  background: #2563eb;
  margin-left: auto;
}

.bot {
  background: rgba(255,255,255,0.1);
  margin-right: auto;
}

.inputBar {
  display: flex;
  padding: 10px;
  background: rgba(255,255,255,0.05);
}

.inputBar input {
  flex: 1;
  margin: 0;
}

.inputBar button {
  width: 60px;
  margin-left: 5px;
}
